<section>
  <ul id="selectType">
    <li>
      <input type="radio" name="type-group" id="why" />
      <label for="why">why</label>
    </li>
    <li>
      <input type="radio" name="type-group" id="how" />
      <label for="how">how</label>
    </li>
    <li>
      <input type="radio" name="type-group" id="all" checked />
      <label for="all">all</label>
    </li>
  </ul>
</section>

<section id="slider">
  <label for="category-slider">question</label><input id="category-slider" type="range" min="0" max="2" value="1" step="1" oninput="outputUpdate(value)"><label for="">opinion</label>
</section>
