#selectType {
  list-style-type:none;
  padding:0;
  margin: 0 auto;
  width: 100%;
  display: block;
  li{
    float:left;
     margin:0 5px 0 0;
    width:32%;
    height:40px;
    position:relative;
      label, input {
      display:block;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
    input[type="radio"] {
      opacity:0.01;
      z-index:100;
      &:checked + label,
      .Checked + label {
          background:yellow;
      }
    }
  }
  label {
     padding:5px;
     border:1px solid #CCC;
     cursor:pointer;
    z-index:90;
    &:hover {
         background:#DDD;
    }
}

}
#slider {
  display: block;
  width: 100%;
  input{
    min-width: 75%;
    margin: 0 15px;
  }
  label {
    width: 10%;
  }
}
